  
    .topnav .current-menu-item a::before,
    .topnav .current_page_item a::before {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
    }
    
	
   
	
    
.button {
  border-radius: 10px;
  background-color: #00897b;/*#f4511e;*/
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 380px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 480px;
 }

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


*{
   box-sizing: border-box;
}

div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: 25%;

}

div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #00897b;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
     margin-top: 25%;

}

div.example button:hover {
    background: #15bf86;
}

div.example::after {
    content: "";
    clear: both;
    display: table;
}

   .search-form-wrapper {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px 15px;
    margin-top: -2%;
    //background: url(/resources/images/misc/bg_search-open.png) right center no-repeat #f89d1c;
}
.search-form-wrapper.open {
    display: block;
}
.container-fluid ul li a:hover{
   // background: black;
    color:#0645AD !important;

}
.container-fluid ul li span : hover{
        color:#0645AD !important;

}
@media screen and (max-width: 800px) {
    #navbar{
      border-color: #00897b;
        float:none;
        display: block;
    }
   

   
}

