.FORM {
    border: 3px solid #15bf86;
	background: #333;
	margin-top:100px;

}

body{
			background-image: url("new6.jpg");
            background-size: cover;
            background-attachment: fixed;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #15bf86;
    box-sizing: border-box;
}

button {
    background-color: #15bf86;
    color: white;
	border-radius:50px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* eita dile button er upor cursor rakhle light color hoy */
button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* image take majhkhane anlam */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 25%;
}

.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #333;
        overflow: hidden;
    }


    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }



    /* Hide the link that should open and close the topnav on small screens */
    .topnav .icon {
        display: none;
    }
    .topnav .current-menu-item a::before,
    .topnav .current_page_item a::before {
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
    }
    .topnav li a:hover{
        border-bottom: 2px solid #15bf86;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .topnav li a:hover {
        opacity: 1 !important;
    }
    .topnav li a:hover:before {
        right: 0;
    }
    .topnav  li li a:before {
        bottom: 10%;
    }

    .topnav ul li a:hover:{
        border-bottom: 2px solid red;
    }
    
    
    .right{
        float: right !important;
        display: block !important;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;


    }
    topnav .serch:focus{
        width : 30%;
        background : white;
    }
    
    .white{
        color: white !important;
    }
    .search{
         background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat  center;
        margin-top : 0.5%;
        margin-right : 1%;
        border: solid 1px;
        border-radius : 50%;
        width : 1px;
        height : 1px;
        cursor : pointer;
        transition: all .5s;
        background-color : inherit;
        color : inherit;
    }
    .search:focus{
        background : none;
        width: 200px;
        border-radius : 20%;
        background-color: white;
        border-color: white;
        font-size : 20px;;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        background-color : white;
        cursor : auto ;
        border-width : 3px;
        color : black;
        outline : none;
    }
     
