

.tableDesign,th,td{
		border : 2px solid steelblue;
		background: #e6f9ff;
		//margin-left:300px;
		border-collapse:collapse;
		opacity:0.95;
		margin:auto;
		
	}
	.tableDesign{
		width:100%;
		border : 2px solid steelblue;
		
	}
	th,td{
		padding: 10px;
		text-align:center;
	}
	th{
		background:#00004d;
		color:white;
		font-size:20px;
	}

	th #nameleft{
		text-align:left !important;
	}

	.topnav h1{
		margin-top:20px;
	font-size:30px;
	text-align:center;
	color:white;
	}
.topnav {
    background-color: #00004d;
    overflow: hidden;
}


.topnav input[type=button] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: -3.5%;
    margin-right: 16px;
    font-size: 17px;
	margin-bottom:1%
}