

.tableDesign,th,td{
		border : 2px solid steelblue;
		background: #e6f9ff;
		//margin-left:300px;
		border-collapse:collapse;
		opacity:0.95;
		margin:auto;
		
	}
	.tableDesign{
		width:500px;
		
		
	}
	th,td{
		padding: 10px;
		text-align:center;
	}
	th{
		background:#00004d;
		color:white;
		font-size:20px;

	}
	.topnav h1{
		margin-top:20px;
	font-size:30px;
	text-align:center;
	color:white;
	}
.topnav {
    background-color: #00004d;
    overflow: hidden;
}



.topnav input[type=button] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 50px;;
    margin-right: 16px;
    font-size: 17px;
	margin-bottom:1%;
}

@media screen and (max-width: 600px) {
    .topnav input[type=button] {
        float: none;
        display: block;
        text-align: left;
        width: 50%;
        margin: 0;
        padding: 14px;
		margin-top:1%;
    }
    
}
