<!DOCTYPE html>
<html>
<head>

    <title>Application Form for "Osmani Hall"</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>
	
</head>
<body>

<div id="mainContainer" style="margin-left: 30%; margin-top: 100px; " >
    <div class="logoContainer" style=" width: 500px">
        <img src="logo.png" alt="" class="float-left" style="margin-top: 4px" height="100" width="100">
        <img src="pp.jpg" alt="" class="float-right" style="margin-right: -20px; margin-top: 15px" height="100" width="100">
    </div>
	</div>
	</body>