<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <title>Registration Form</title>

          <script  src="/Script/jquery.min.js"></script>
       <script src="/Script/bootstrap.min.js"></script>
       
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script type="text/javascript" src="/Script/application.js"></script>
       <script src="/Script/toast.js"></script> 
       <script  src="Script/fileupload.js"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel="stylesheet" href="/Styles/toast.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <link rel="stylesheet" href="/Styles/application.css">
<!--       <link rel="stylesheet" href="toggled-search-bar.css">

 -->

</head>

<body background="bbb.jpg" style="background-attachment: fixed;background-size: cover;background-repeat: no-repeat;">

<nav class="navbar navbar-inverse " style="background-color:#00897b;color: white ;border-color: #00897b" id="navbar">
 <div class="container-fluid">
    
    <ul class="nav navbar-nav">
        <li><a  href="/" id="home" style="color: white">Home</a></li>
      <li><a  href="/" id="entry" style="color: white">Entry List</a></li>
       <li><a href="/residentstudent" id="gst" style="color: white;">Resident Student</a></li>
       <li><a href="/contact" id="cntct" style="color: white">Contact</a></li>
    </ul>
  


    
      <div id="navbar" class="navbar-collapse collapse">
         <div class="hidden-xs navbar-form navbar-right">
            <a href="#search" class="search-form-tigger btn btn-success"  data-toggle="search-form" style="background-color: white"><i class="fa fa-search" style="color:#00897b" aria-hidden="true"></i></a>
         </div>
     <div class="visible-xs navbar-form navbar-right" style="border-color:transparent;">
            <input type="text" name="search" class="search form-control" placeholder="Search..." style="color: blue;">
         </div>
         <!--/.navbar-collapse -->
      </div>
    </div>


  
</nav>

<div class="search-form-wrapper">
   <div class="search-form">
      <div class="input-group">
         <input type="text" name="search" class="search form-control" placeholder="Search">
         <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i>
         </span>
         <!-- <span class="input-group-addon search-close" id="basic-addon2"><i class="fa fa-window-close" aria-hidden="true"></i>
         </span> -->
      </div>
   </div>
</div>


  
<div class="container" style=" margin-top: 5%; margin-bottom: 15%">
  <form action="/students" method="post" enctype="multipart/form-data" >
    <div class="row" >
      <h4 style = "text-align:center ; "><font size="6">Registration Form</font></h4>

      <div class="file-upload" id="image" name="" >
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
        

<!-- <<<<<<< HEAD -->
        <div class="image-upload-wrap">
          <img src="pp.jpg" style="width: 90%;">
         <input class="file-upload-input" type='file' name="profile_photo" onchange="readURL(this);" accept="image/*" />
<!-- ======= -->
        <!-- <div class="image-upload-wrap" id="image" name="profile_photo" >
          <img src="provost.jpg" style="width: 90%">
         <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" /> -->
<!-- >>>>>>> d1d57ac7eb16fd76cd197b8010ff8824f84f8123 -->
        </div>
        <div class="file-upload-content" id="image" name="profile_photo" >
             <img class="file-upload-image" src="#"  />
             <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
              </div>
        </div> 
      </div>


      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631 ;">
        <input type="text" placeholder="Student's Name" name="stdname" required/>
        <div class="input-icon"><i class="fa fa-user" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
        <input type="number" placeholder="Student's Phone" name="stdphn" required>
        <div class="input-icon"><i class="fa fa-phone" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
         <input type="text" placeholder="Father's Name"  name="fatname" required>
        <div class="input-icon"><i class="fa fa-user" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
         <input type="email" placeholder="Father's Email" name="fatmail">
        <div class="input-icon"><i class="fa fa-envelope " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
          <input type="number" placeholder="Father's Phone" name="fatphn" required>
        <div class="input-icon"><i class="fa fa-phone" style="color: #00897b"></i></div>
      </div>


      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Mother's Name" name="motname" required>
        <div class="input-icon"><i class="fa fa-user" style="color: #00897b"></i></div>
      </div>



      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="email" placeholder="Mother's Email" name="motmail">
        <div class="input-icon"><i class="fa fa-envelope " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="number" placeholder="Mother's Phone" name="motphn" required>
        <div class="input-icon"><i class="fa fa-phone" style="color: #00897b"></i></div>
      </div>


      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Present Address" name="prsntaddr" required>
        <div class="input-icon"><i class="fa fa-map-marker " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Permanent Address" name="pmntaddr" required>
        <div class="input-icon"><i class="fa fa-map-marker " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Course Name"  name="crse" required>
        <div class="input-icon"><i class="fa fa-graduation-cap  " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="number" placeholder="Student ID"  name="stdid" required>
        <div class="input-icon"><i class="fa fa-address-book " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="number" placeholder="Registration Number"  name="regno" required>
        <div class="input-icon"><i class="fa fa-address-book " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631"> 
                    <input type="text" placeholder="Academic Year" name="acyear" required>
        <div class="input-icon"><i class="fa fa-calendar " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="number" placeholder="Level" name="level" required>
        <div class="input-icon"><i class="fa fa-bookmark " style="color: #00897b"></i></div>
      </div>

    </div>


    <div class="row">

       
        <div class="input-group" style="width: 100%;color:#707b7c">
          <input type="radio" name="gender" value="Male" id="gender-male"/>
          <label for="gender-male">Male</label>
          <input type="radio" name="gender" value="Female" id="gender-female"/>
          <label for="gender-female">Female</label>
        </div>
      
    </div>

    <div class="row">

       <select class="matha" name="hall"  style="width: 100%; color:#707b7c">
       <option value="Osmani Hall">Osmani Hall</option> <!-- -_- eivabe -->
        <option value="Extension A">Extension A</option>
        <option value="Extension B">Extension B</option>
        <option value="Extension C">Extension C</option>
        <option value="Extension D">Extension D</option>
        <option value="Extension E">Extension E</option>
        <option value="Extension F">Extension F</option>
       </select>
   
    </div><br>

    <div class="row">
      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Room number"  name="room" required>
        <div class="input-icon"><i class="fa fa-building " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Local Guardian's Name"  name="gdname" required>
        <div class="input-icon"><i class="fa fa-user" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="email" placeholder="Local Guardian's Email" name="gdmail" required>
        <div class="input-icon"><i class="fa fa-envelope " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="number" placeholder="Guardian's Phone" name="gdphn" required>
        <div class="input-icon"><i class="fa fa-phone" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #1b2631">
                    <input type="text" placeholder="Local Guardian's Address" name="gdaddr" required>
        <div class="input-icon"><i class="fa fa-map-marker " style="color: #00897b"></i></div>
      </div>


      <div >
                    <input type="submit" name="SUBMIT" class="btn btn-success btn-lg"  style="color: white; background-color: #00897b">
      </div>



    </div>
    
  </form>
</div>



<script type="text/javascript">
  $( document ).ready(function() {
    $('[data-toggle=search-form]').click(function() {
        $('.search-form-wrapper').toggleClass('open');
        $('.search-form-wrapper .search').focus();
        $('html').toggleClass('search-form-open');
      });
    
    $('[data-toggle=search-form-close]').click(function() {
        $('.search-form-wrapper').removeClass('open');
        $('html').removeClass('search-form-open');
      });
    
    $('.search-form-wrapper .search').keypress(function( event ) {
        if(event.keyCode==13){
          
          window.location.href = "/search?value="+ $(this).val();
        }
    });

    $('.search-close').click(function(event) {
      $('.search-form-wrapper').removeClass('open');
      $('html').removeClass('search-form-open');
    });
});
</script>


</body>

</html>
