<!DOCTYPE html>
<html>
<head>

    <style>
        form
        {
            padding: 150px;

            background: white;
        }

        body
        {
            background-image: url("back2.jpg");
            background-size: cover;
            background-attachment: fixed;
        }



    </style>


    <title>Application Form for "Osmani Hall"</title>
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <link rel="stylesheet" href="/Styles/bootstrap.min.css">
    <script src="/Script/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/Styles/style.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src="/Script/application.js"></script>
</head>
<body>


<div id="mainContainer" style="margin-left: 30%; margin-top: 100px; " >
    <div class="logoContainer" style=" width: 500px">
        <img src="logo.png" alt="" class="float-left" style="margin-top: 4px" height="100" width="100">
        <img src="pp.jpg" alt="" class="float-right" style="margin-right: -90px; margin-top: 15px" height="100" width="100">
    </div>

    <div style="width: 600px; border: 3px solid forestgreen; ">
        <form action="#">

            <h4 style="text-align: center; margin-top:-100px;	font-size:12px;">MIST</h4>
            <h3 style="font-size: 20px; margin-top: 25px ; text-align:center;">Application Form for "Osmani Hall"</h3>
            <h5 style="font-size: 15px; margin-top: 100px; margin-left: -30px">1.Student's Basic Information</h5>


            <div class="form-group row" >

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Student's Name" class="form-control" id="stdname">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Student's Phone number" class="form-control" id="stdphn">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Father's Name" class="form-control" id="fatname">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="email" placeholder="Father's Email" class="form-control"  id="fatmail">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Father's Phone number" class="form-control" id="fatphn">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Mother's Name" class="form-control" id="motname">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="email" placeholder="Mother's Email" class="form-control"  id="motmail">
                </div>
            </div>


            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Mother's Phone number" class="form-control" id="motphn">
                </div>
            </div>




            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Present Address" class="form-control" id="prsntaddr">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Permanent Address" class="form-control" id="pmntaddr">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Course Name" class="form-control" id="crse">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Student ID" class="form-control" id="stdid">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Registration Number" class="form-control" id="regno">
                </div>
            </div>

            <div class="form-group row">

                <div class="col-sm-10"style="margin-left:10%">
                    <input type="number" placeholder="Academic Year" class="form-control" id="acyear">
                </div>
            </div>
			
			<div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Level" class="form-control" id="level">
                </div>
            </div>




            <fieldset class="form-group row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <label class="form-check-label" style="margin-left:10%">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" >
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" style="margin-left:10%">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            Female
                        </label>
                    </div>

                </div>
            </fieldset>
			
		<select class="matha" style="margin-left:10%">
		<option value="Main Hall">Main Hall</option> <!-- -_- eivabe -->
		<option value="Extension A">Extension A</option>
		<option value="Extension B">Extension B</option>
		<option value="Extension C">Extension C</option>
		<option value="Extension D">Extension D</option>
		<option value="Extension E">Extension E</option>
		<option value="Extension F">Extension F</option>


		</select>


            <h6 style="font-size: 15px; margin-left: -40px;  margin-top:25px">2.Local Guardian's Information</h6>
            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Local Guardian's Name" class="form-control"  id="gdname">
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="email" placeholder="Local Guardian's Email" class="form-control"  id="gdmail">
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="number" placeholder="Local Guardian's Phone number" class="form-control"  id="gdphn">
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="text" placeholder="Local Guardian's Address" class="form-control"  id="gdaddr">
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-10" style="margin-left:10%">
                    <input type="submit" name="Submit" class="btn btn-success" style="width: 220px;" id="sbmt">
                </div>
            </div>


        </form>
    </div>
</div>
</body>
</html>