<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>frontpage</title>

<link rel="stylesheet" href="/Styles/bootstrap.min.css">
    <script src="/Script/bootstrap.min.js"></script>
	<link href="/Styles/first page.css" rel="stylesheet"/>
	

</head>
<body>

	<div class="topnav">
	<img src="logo.png" alt="" class="float-left" style="margin-top: 1% ;margin-bottom:1%; margin-left:5%" height="55" width="60">

  <a class="active" href="#entry">Entry List</a>
  <a href="#login">Log In</a>
  <a href="#contact">Contact</a>
  
  </a>
</div>
<div class="mainContainer" style="margin-left:10% ; margin-right:5% ; background:#e6f9ff">

	<div class ="container" style="margin-left:7% ; margin-right:5%">
		<img src="back2.jpg" class="img-responsive" >
	</div>
</div>
</body>
</html>