<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Guest Form</title>

  <script  src="/Script/jquery.min.js"></script>
  <script src="/Script/bootstrap.min.js"></script>
       
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



  <link rel="stylesheet" href="/Styles/guestForm.css">
  <script type="text/javascript" src="/Script/guestform.js"></script>

</head>

<body background="bbb.jpg">

<nav class="navbar navbar-inverse " style="background-color:#00897b;color: white ;border-color: #00897b" id="navbar">
 <div class="container-fluid">
    
    <ul class="nav navbar-nav">
        <li><a  href="/" id="home" style="color: white">Home</a></li>
        <li><a  href="/" id="entry" style="color: white">Entry List</a></li>
        <li><a  href="/approvedguest" id="apprvd" style="color: white">Approved Guests</a></li>
         <li><a href="/contact" id="cntct" style="color: white">Contact</a></li>
      <!--   <li><a class="right" href="/auth" id="login" style="color:white"><span class="glyphicon glyphicon-log-in" style="color:white"></span> Log In</a></li> -->
    </ul>
  


    
      <div id="navbar" class="navbar-collapse collapse">
         <div class="hidden-xs navbar-form navbar-right">
            <a href="#search" class="search-form-tigger btn btn-success"  data-toggle="search-form" style="background-color: white"><i class="fa fa-search" style="color:#00897b" aria-hidden="true"></i></a>
         </div>
     <div class="visible-xs navbar-form navbar-right" style="border-color:transparent;">
            <input type="text" name="search" class="search form-control" placeholder="Search..." style="color: blue;">
         </div>
         <!--/.navbar-collapse -->
      </div>
    </div>


  
</nav>

<div class="search-form-wrapper">
   <form class="search-form" id="" action="">
      <div class="input-group">
         <input type="text" name="search" class="search form-control" placeholder="Search...">
         <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i>
         </span>
         <span class="input-group-addon search-close" id="basic-addon2"><i class="fa fa-window-close" aria-hidden="true"></i>
         </span>
      </div>
   </form>
</div>
   

  
<div class="container" style="margin-top: 5%;">
  
  <form action="/guestform" method="post"  >
    <div class="row" >

      <img src="logo.png" style="width: 20% ; margin-left: 40%">

      <h4 style = "text-align:center ; "><font size="6">Guest Form</font></h4>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949; ">
             <input type="text" placeholder="Student's Name" name="stdname" required id="stdname">
        <div class="input-icon"><i class="fa fa-user" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
            <input type="number" placeholder="Student's Phone" name="stdphn" required id="stdphn">
        <div class="input-icon"><i class="fa fa-phone" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
            <input type="text" placeholder="Guardian's Name"  name="grdnname" required id="grdnname">
        <div class="input-icon"><i class="fa fa-user" style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
            <input type="email" placeholder="Guardian's Email"  name="grdnmail" id="grdnmail">
        <div class="input-icon"><i class="fa fa-envelope " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
             <input type="number" placeholder="Guardian'sPhone"  name="grdnphn" required id="grdnphn">
        <div class="input-icon"><i class="fa fa-phone" style="color: #00897b"></i></div>
      </div>


      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
            <input type="text" placeholder="Present Address"  name="prsntaddr" required id="prsntaddr">
        <div class="input-icon"><i class="fa fa-map-marker " style="color: #00897b"></i></div>
      </div>



      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
            <input type="text" placeholder="Course Name"  name="crse" required id="crse">
        <div class="input-icon"><i class="fa fa-graduation-cap " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
            <input type="number" placeholder="Student ID"  name="stdid" required id="stdid">
        <div class="input-icon"><i class="fa fa-address-book " style="color: #00897b"></i></div>
      </div>


      <!-- <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
             <input type="number" placeholder="Academic Year"  name="acyear" required id="acyear">
        <div class="input-icon"><i class="fa fa-calendar " style="color: #00897b"></i></div>
      </div> -->

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
                    <input type="number" placeholder="Level"  name="level" id="level" required="">
        <div class="input-icon"><i class="fa fa-bookmark " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
                    <input type="text" placeholder="Reason for Staying"  name="reason" required id="reason">
        <div class="input-icon"><i class="fa fa-question-circle   " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
                    <input type="text" placeholder="Entering date"  name="from" onfocus="(this.type='date')" required id="from">
        <div class="input-icon"><i class="fa fa-calendar " style="color: #00897b"></i></div>
      </div>

      <div class="input-group input-group-icon" style="width: 100%;color:   #424949">
                    <input type="text" placeholder="Leaving Date"  name="to" onfocus="(this.type='date')" required id="to">
        <div class="input-icon"><i class="fa fa-calendar " style="color: #00897b"></i></div>
      </div>


    </div>


    <div class="row">

       
        <div class="input-group" style="width: 100%;color: #515a5a">
          <input type="radio" name="gender" value="Male" id="gender-male"/>
          <label for="gender-male">Male</label>
          <input type="radio" name="gender" value="Female" id="gender-female"/>
          <label for="gender-female">Female</label>
        </div>
      
    </div>

    <div class="row">
      <div  onclick="submit()">
                    <input type="submit" id="submit" name="SUBMIT" class="btn btn-success btn-lg"  style="color: white; background-color: #00897b">
      </div>

    </div>
    
  </form>

</div>



<script type="text/javascript">
  $( document ).ready(function() {
  $('[data-toggle=search-form]').click(function() {
      $('.search-form-wrapper').toggleClass('open');
      $('.search-form-wrapper .search').focus();
      $('html').toggleClass('search-form-open');
    });
    $('[data-toggle=search-form-close]').click(function() {
      $('.search-form-wrapper').removeClass('open');
      $('html').removeClass('search-form-open');
    });
  $('.search-form-wrapper .search').keypress(function( event ) {
    if($(this).val() == "Search") $(this).val("");
  });

  $('.search-close').click(function(event) {
    $('.search-form-wrapper').removeClass('open');
    $('html').removeClass('search-form-open');
  });
});
</script>


</body>

</html>
