<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/Styles/bootstrap.min.css">
  <script src="Script/login.js"></script>
  <link rel="stylesheet" href="Styles/login.css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="/Styles/toast.css">
  <script src="/Script/toast.js"></script>
</head>
<body>

<div class="topnav">

   <a class="active" href="/" id="home">Home</a>
   
</div>


<div class="container" style="width:400px">
  <div class="FORM" >
  <div class="imgcontainer">
    <img src="logo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname" style="color:forestgreen"><b>Email</b></label>
    <input type="text" placeholder="Enter Email ID" name="uname" id="usrname" required>

    <label for="psw" style="color:forestgreen"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="pw" required>

    <button  id="login" onclick="login()">Login</button>
    <label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
     <a href="/login"><button type="button" class="cancelbtn" id="cnclbtn">Cancel</button></a>
    <span class="psw">Forgot <a href="/pwreset">password?</a></span>
  </div>
</div>
</div>
</body>
</html>