<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<title>Report</title>
<link href="/Styles/report.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/Styles/loading.css">

<style>
	body{
		font-family: Arial;
		
		background-image: url(bbb.jpg);
		background-size: cover;
		background-attachment:fixed;

	}
	
</style>

  <script  src="/Script/jquery.min.js"></script>
  
       
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
<!-- <link rel="stylesheet" href="toggled-search-bar.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/Script/bootstrap.min.js"></script>
  <script type="text/javascript" src="/Script/report.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse " style="background-color:#00897b;color: white ;border-color: #00897b" id="navbar">
 <div class="container-fluid">
    
    <ul class="nav navbar-nav">
        <li><a  href="/" id="home" style="color: white">Home</a></li>
         <li><a href="/guestform" style="color: white;" >Guest Form</a> </li> 
        <li><a  href="/approvedguest" id="apprvd" style="color: white">Approved Guests</a></li>
         <li ><a href="/contact" style="color: white;">Contact</a> </li>   
       
         
    </ul>
  


    
      <div id="navbar" class="navbar-collapse collapse">
         <div class="hidden-xs navbar-form navbar-right">
            <a href="#search" class="search-form-tigger btn btn-success"  data-toggle="search-form" style="background-color: white"><i class="fa fa-search" style="color:#00897b" aria-hidden="true"></i></a>
         </div>
     <div class="visible-xs navbar-form navbar-right" style="border-color:transparent;">
            <input type="text" name="search" class="search form-control" placeholder="Search..." style="color: blue;">
         </div>
         <!--/.navbar-collapse -->
      </div>
    </div>


  
</nav>


<div class="search-form-wrapper">
   <form class="search-form" id="" action="">
      <div class="input-group">
         <input type="text" name="search" class="search form-control" placeholder="Search">
         <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i>
         </span>
         <span class="input-group-addon search-close" id="basic-addon2"><i class="fa fa-window-close" aria-hidden="true"></i>
         </span>
      </div>
   </form>
</div>
   



<div id="tableContainer" style="margin-left: 2%; margin-top: 75px; " >
 

		<table class = "tableDesign">
			<thead>
				<tr>
					<th>Name</th>
					<th>Course</th>
					<th>Level</th>
					<th>Student ID</th>
					<th>Room No</th>
					<th>Hall</th>
					<th>Extected Return Date</th>
					<th>Entry Date</th>
					<th>Entry Time</th>
					
				</tr>
			</thead>
			<tbody id="mydata">
				<!-- <tr>
					<td>mila</td>
					<td>cse</td>
					<td>4</td>
					<td>21</td>
					<td>601</td>
					<td>female</td>
					<td>7:00pm</td>
					<td>8:00pm</td>
					
					


				</tr>
				
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					
				</tr>
				
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
				</tr> -->
				
				
			</tbody>
		</table>
		<h3 data-text="Loading...">Loading...<h3> 
	
</div>


<script type="text/javascript">
  $( document ).ready(function() {
  $('[data-toggle=search-form]').click(function() {
      $('.search-form-wrapper').toggleClass('open');
      $('.search-form-wrapper .search').focus();
      $('html').toggleClass('search-form-open');
    });
    $('[data-toggle=search-form-close]').click(function() {
      $('.search-form-wrapper').removeClass('open');
      $('html').removeClass('search-form-open');
    });
  $('.search-form-wrapper .search').keypress(function( event ) {
    if($(this).val() == "Search") $(this).val("");
  });

  $('.search-close').click(function(event) {
    $('.search-form-wrapper').removeClass('open');
    $('html').removeClass('search-form-open');
  });
});
</script>


</body>
</html>
