<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/Styles/bootstrap.min.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <link rel="stylesheet" href="Styles/resetcode.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script type="text/javascript" src="/Script/resetcode.js"></script>
  <script src="/Script/toast.js"></script> 
  <link rel="stylesheet" href="/Styles/toast.css">
</head>
<body>

<div class="topnav">

   <a class="active" href="/" id="home">Home</a>
   
</div>


<div class="container" style="width:400px">
  <div class="FORM" >
    <h1 style="font-size: 100% ; font-weight: bold; margin-left: 35% ; margin-top: 5%">Reset Password</h1>

    <div class="imgcontainer">
       <img src="logo.png" alt="Avatar" class="avatar">
    </div>

  <div class="container">
    <input type="Password"   placeholder="New Password" name="newpw" id="newpw" required>
    <input type="Password"   placeholder="Confirm Password" name="confirmpw" id="confirmpw" required>


    <button  id="reset" onclick="reset()">Confirm</button>  
  </div>

            <h2 style="font-size: 100% ;  margin-left: 35% ; margin-bottom: 5%; margin-top: 1%">Back to <a href="/login">Login</a></h2>

</div>

</div>
</body>
</html>