<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Table</title>
<link href="/Styles/table.css" rel="stylesheet"/>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

<style>
	body{
		font-family: Arial;
		font-size: 20px;
		background-image: url(back2.jpg);
		background-size: cover;
		background-attachment:fixed;

	}
	
</style>

 <link rel="stylesheet" href="/Styles/bootstrap.min.css">
 <script src="/Script/table.js"></script>

</head>
<body>

<div class="topnav">
<h1>Osmani Hall Student Database</h1>

    <input type="button" class="btn btn-info" value="Add Student" id="add">
	

   
</div>

<div id="tableContainer" style="margin-left: 7%; margin-top: 75px; " >
 

		<table class = "tableDesign">
			<thead>
				<tr>
					<th>Name</th>
					<th>Course</th>
					<th>Level</th>
					<th>Student ID</th>
					<th>Room No</th>
					<th>Gender</th>
					<th>Contact No</th>
						<th>Other</th>
				</tr>
			</thead>
			<tbody id="mydata">
				 <tr>
					<td>mila</td>
					<td>cse</td>
					<td>4</td>
					<td>21</td>
					<td>601</td>
					<td>female</td>
					<td>01712345678</td>
					<td><button type="button" class="btn btn-primary" style="width:100% ; background:#00004d ; color:white;">Edit</button></td>

				</tr>
				<!--
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>keya</td>
					<td>eee</td>
					<td>4</td>
					<td>51</td>
					<td>501</td>
					<td>female</td>
					<td>01712345678</td>
				</tr>
				<tr>
					<td>mila</td>
					<td>cse</td>
					<td>4</td>
					<td>21</td>
					<td>601</td>
					<td>female</td>
					<td>01712345678</td>

				</tr>
				<tr>
					<td>mila</td>
					<td>cse</td>
					<td>4</td>
					<td>21</td>
					<td>601</td>
					<td>female</td>
					<td>01712345678</td>

				</tr>
				<tr>
					<td>mila</td>
					<td>cse</td>
					<td>4</td>
					<td>21</td>
					<td>601</td>
					<td>female</td>
					<td>01712345678</td>

				</tr>
				<tr>
					<td>mila</td>
					<td>cse</td>
					<td>4</td>
					<td>21</td>
					<td>601</td>
					<td>female</td>
					<td>01712345678</td>

				</tr> -->
			</tbody>
		</table>
	
</div>
</body>
</html>
