<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="login.css">
</head>
<body>


<div class="container" style="width:400px">
  <form>
  <div class="imgcontainer">
    <img src="logo.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname" style="color:forestgreen"><b>Email</b></label>
    <input type="text" placeholder="Enter Email ID" name="uname" id="usrname" required>

    <label for="psw" style="color:forestgreen"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="pw" required>

    <button type="submit" id="login">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember" id= "rmbr"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" id="cnclbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>
</body>
</html>